body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pokeFont;
    src: url(../assets/pokeFont.ttf);
}

/* Tic Tack Toe Game */
#gameBoard{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  
    
}

#battleground{
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    background-image: url(../img/background/bgBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#overlay{
    height: 30vh;
    width: 100vw;

    background-image: url(../img/background/overlayMessage.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: start;
    align-items: center;
}

#overlayText{
    font-family: pokeFont;
    font-size: 2em;
    margin-left: 5vw;
}

.sideTop{
    height: 10vh;
    width: 35vw;
}

.sideMiddle{
    height: 25vh;
    width: 35vw;
}

.sideBottom{
    height: 35vh;
    width: 35vw;
}


/* Player 1 sprites + Player 2 Name*/
#p1Side{
    height: 70vh;
    width: 35vw;

    display: flex;
    flex-direction: column;

}

#p1Side div{
    display: flex;
    flex-direction: row;

}


#p1Side .sideTop img{
    display: flex;
    position: absolute;
}

#p2Name {
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
}

#p1Side .tokenCount{
    margin-top: 1vh;
    margin-left: 6vh;
    display: flex;

    z-index: 1;
}

#p1Side .tokenCount:nth-child(2){}

#p1Side .sideBottom {
    justify-content: center;
    align-items: end;
}

#p1Side .sideBottom img{

    position: absolute;
}

#p1Side .sprites img{
    z-index: 1;
    position: relative;
    
}

#p1Side .sideBottom .sprites:nth-child(3) img{
    margin-bottom: -3vh;
}

/* Game Board */
#boardSide{
    height: 70vh;
    width: 30vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  

}

#board {

    display: flex;
    flex-direction: column;
  
    justify-content: space-around;
    align-items: flex-start;
  
    height: 30vh;
    width: 30vh;

}

#board div {

    display: flex;
    flex-direction: row;
  
    justify-content: space-evenly;
    align-items: center;
  
    height: 9vh;
    width: 30vh;
}

#board div div {
    height: 9vh;
    width: 9vh;
    background-color: blueviolet;
}


/* Player 2 sprites + Player 1 Name*/
#p2Side{
    height: 70vh;
    width: 35vw;

    display: flex;
    flex-direction: column;
}

#p2Side div{
    display: flex;
    flex-direction: row;
}

#p2Side .sideBottom{
    justify-content: end;
    align-items: end;
}

#p2Side .sideBottom img{
    display: flex;
    position: absolute;
}

#p2Side .tokenCount{
    margin-bottom: 8.5vh;
    margin-right: 1vh;
    display: flex;

    z-index: 1;
}

#p2Side .sideBottom .tokenCount img{
    display: flex;
    position: relative;
}

#p1Name {
    margin-bottom: 9.5vh;
    margin-right: 10vh;
    z-index: 1;
}

#p2Side .sideMiddle {
    justify-content: center;
    align-items: end;
}

#p2Side .sideMiddle img{
    position: absolute;
}

#p2Side .sprites img{
    z-index: 1;
    position: relative;
    margin-left: -8vh;
}

#p2Side .sideMiddle .sprites:nth-child(3) img{
    margin-bottom: 9vh;
}