body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;

    background-color: black;
}

.none {
    display: none !important;
}

@font-face {
    font-family: pokeFont;
    src: url(../assets/pokeFont.ttf);
}

#titleScreen{
    height: 768px;
    width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../img/background/titleBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#title{
    height: 55vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title p{
    font-family: pokeFont;
    font-size: 3em;
    color: white;
    font-weight: bold;
}
#start{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleBottom{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20vw;
}

#titleScreen :nth-child(4){
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pokeFont;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

.overlay{
    height: 30vh;
    width: 100vw;

    background-image: url(../img/background/overlayMessage.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
}

.overlayText{
    font-family: pokeFont;
    font-size: 2em;
    margin-left: 5vw;
}

#introSection{
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-image: url(../img/background/introbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#introSection img{
    position: absolute;
    margin-top: 20vh;
    
}

#introSection .sprites{
    z-index: 1;
    position: relative;
    margin-top: -2vh;
    margin-left: 3vh;
}

#charaSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}